<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOHT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
	integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
	crossorigin="anonymous"></script>
</head>
<body>
    <h1>PILLESORTERING</h1>
    <script>
		var socket = io();
		socket.emit('PatientData')	
		socket.on('PD', function(data) {
            	console.log(data)
		let [Value0, Value1, Value2, Value3, Value4] = data
			if (data != 'None') {
				document.getElementById('ID').innerHTML = Value0
				document.getElementById('PatientNavn').innerHTML = Value1
				document.getElementById('piletype').innerHTML = Value2
				document.getElementById('antal').innerHTML = Value3
				document.getElementById('Diagnose').innerHTML = Value4
			}
			socket.emit('PatientData')
					})
	</script>
<div class="grid">
	<div class="gridit"><h3>ID</h3></div>
    <div class="gridit"><h3>Navn</h3></div>
    <div class="gridit"><h3>Piller</h3></div>
    <div class="gridit"><h3>Antal</h3></div>
	<div class="gridit"><h3>Diagnose</h3></div>
	<div id="ID"></div>
    <div id="PatientNavn"></div>
    <div id="piletype"></div>
    <div id="antal"></div>
	<div id="Diagnose"></div>
</div>
<div class="tempdata">Temp: <br> Humd: </div>
</body>
</html>
<footer>
	<p>Lavet af gruppe B9 - KEA IT-Teknolog 2B F23</p>
	<p class="right">Emil Pehrson, Daniel Nybo, Marcus Andersen, Mikael Slots</p>
</footer>