<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOHT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
	integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
	crossorigin="anonymous"></script>
</head>
<body>
    <h1>PILLESORTERING</h1>

<script>
    var socket = io();
    socket.emit('PatientData');    
    socket.on('PatientData', function(response) {
        console.log(response);

        if (response && response.data && response.data.PatientData) {
            let [Value0, Value1, PileListData] = response.data.PatientData;

            if (PileListData && Array.isArray(PileListData) && PileListData.length > 0) {
                for (let i = 0; i < PileListData.length; i++) {
                    let [Value2, Value3, Value4] = PileListData[i];
                    console.log(`Iteration ${i + 1}: Value2=${Value2}, Value3=${Value3}, Value4=${Value4}`);
                    document.getElementById('piletype').innerHTML += Value2 + "<br>";
                    document.getElementById('antal').innerHTML += Value3 + "<br>";
                    document.getElementById('Diagnose').innerHTML += Value4 + "<br>";
                }
            } else {
                console.log("No valid PileListData received from the RPI-Server");
            }

            document.getElementById('ID').innerHTML = Value0;
            document.getElementById('PatientNavn').innerHTML = Value1;
        } else {
            console.log("No valid data received from the RPI-Server");
        }

        socket.emit('PatientData');
    });
</script>




	<div class="grid">
		<div class="gridit"><h3>ID</h3></div>
		<div class="gridit"><h3>Navn</h3></div>
		<div class="gridit"><h3>Piller</h3></div>
		<div class="gridit"><h3>Antal</h3></div>
		<div class="gridit"><h3>Diagnose</h3></div>
		<div id="ID">{{ data[0] }}</div>
		<div id="PatientNavn">{{ data[1] }}</div>
		<div id="piletype">{{ data[2] }}</div>
		<div id="antal">{{ data[3] }}</div>
		<div id="Diagnose">{{ data[4] }}</div>
	</div>
	<div class="tempdata">Temp: <br> Humd: </div>
</body>
</html>
<footer>
	<p>Lavet af gruppe B9 - KEA IT-Teknolog 2B F23</p>
	<p class="right">Emil Pehrson, Daniel Nybo, Marcus Andersen, Mikael Slots</p>
</footer>
