<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOHT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
	integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
	crossorigin="anonymous"></script>
</head>
<body>
    <h1>PILLESORTERING</h1>

<script>
    var socket = io();
    var NewDataToSent = null;
    function fetchData() {
        socket.emit('PatientData');  
    }   
    socket.on('PatientData', function(response) {
        console.log(response);
        if (response && response.data) {
            let { PatientData, PileListData } = response.data;
            // tjekker om vores data er en array, dette er kode delen som også stopper spam fra vores flask application
            if (PatientData && Array.isArray(PatientData) && PileListData && Array.isArray(PileListData)) {
                let [Value0, Value1] = PatientData;
                if (!NewDataToSent || !arraysEqual(PatientData, NewDataToSent)){
                    NewDataToSent = PatientData
                    // tjekker om data'en findes på hjemmesiden eller ej
                    if (!document.getElementById('ID-' + Value0)) {
                        // laver et nyt "grid" hvis data indputtet et nyt
                        let newGrid = document.createElement('div');
                        newGrid.className = 'grid';
                        newGrid.id = 'ID-' + Value0;

                        // tilføjer vores nye, opdaterede data til vores variabler
                        newGrid.innerHTML = `
                            <div class="gridit"><h3>ID</h3><div>${Value0}</div></div>
                            <div class="gridit"><h3>Navn</h3><div>${Value1}</div></div>
                            <div class="gridit"><h3>Piletype</h3><div>${PileListData[0][1]}</div></div>
                            <div class="gridit"><h3>Antal</h3><div>${PileListData[0][2]}</div></div>
                            <div class="gridit"><h3>Diagnose</h3><div>${PileListData[0][3]}</div></div>
                        `;
                        // sender den nye "grid" til vores hjemmeside
                        document.body.appendChild(newGrid);
                    }
                    }
            } else {
                console.log("Invalid data structure received from the RPI-Server");
            }
        } else {
            //console.log("No valid data received from the RPI-Server");        // denne er udkommenteret fordi den er til debuging, hvis den tilføjes resultere det i spam til hjemmesiden
            return;
        }
        fetchData();
    });

function arraysEqual(NewArray, OldArray) {
    if (NewArray.length !== OldArray.length) return false;
    for (let i = 0; i < NewArray.length; i++) {
        if (NewArray[i] !== OldArray[i]) return false;
    }
    return true;

}
fetchData();
</script>

<div class="grid">
	<div class="gridit"><h3>ID</h3></div>
	<div class="gridit"><h3>Navn</h3></div>
	<div class="gridit"><h3>Piletype</h3></div>
	<div class="gridit"><h3>Antal</h3></div>
	<div class="gridit"><h3>Diagnose</h3></div>
	<div id="ID">{{ data[0] }}</div>
	<div id="PatientNavn">{{ data[1] }}</div>
	<div id="piletype">{{ data[2] }}</div>
	<div id="antal">{{ data[3] }}</div>
	<div id="Diagnose">{{ data[4] }}</div>
</div>
<div class="tempdata">Temp: <br> Humd: </div>
</body>
</html>
<footer>
	<p>Lavet af gruppe B9 - KEA IT-Teknolog 2B F23</p>
	<p class="right">Emil Pehrson, Daniel Nybo, Marcus Andersen, Mikael Slots</p>
</footer>
